@font-face {
    font-family: 'GothamLight';
    src: url(/src/fonts/GothamRoundedLight_21020.ttf);
}
@font-face {
    font-family: 'GothamBold';
    src: url(/src/fonts/GothamRoundedBold_21016.ttf);
}
@font-face {
    font-family: 'GothamMedium';
    src: url(/src/fonts/GothamRounded-Medium.otf);
}
body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
.container {
    width: 370px;
    padding: 3% 0 0;
    margin: auto;
}
.login-page {
    width: 370px;
    padding: 3% 0 0;
    margin: auto;
}
.container p{
    font-family: 'GothamLight';
    font-size: 17px;
}
.container h1{
    font-family: 'GothamLight';
    font-size: 30px;
}
.container h1 b{
    font-family: 'GothamBold';
}
.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: 'GothamLight';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 80px;
}
.form button {
    font-family: 'GothamLight';
    text-transform: uppercase;
    outline: 0;
    background: #EA0451;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 40px;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    font-family: 'GothamMedium';
    color: #0439EA;
    text-decoration: underline;
    margin-top: 25px;
    font-size: 13px;
}
.container span{
    font-family: 'GothamBold';
    color: #EA0451;
}
.container a{
    font-family: 'GothamMedium';
    color: #0439EA;
}
.social_link li{
    display: inline-block;
    margin-right: 40px;
}
.social_link li a{
    display: inline-block;
    font-size: 40px;
    color: #EF3B3A;
    background-color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 10%;
}
.social_link li a:hover{
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.25);
}